html {
  scroll-behavior: smooth;
}

body {
  background-color: #241f47;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  background-color: darkslateblue;
  color: white;
}

header h1 {
  margin-left: 10px;
}

nav ul {
  display: flex;
  align-items: center;
  height: 50px;
}

nav li {
  margin-right: 5px;
  margin-left: 5px;
}

main * {
  margin-top: 20px;
  font-size: 24px;
}

footer {
    background-color: darkslateblue;
    text-align: center;
    margin-top: 2.5%;
    padding: 15px;
}

.project-card {
  display: flex;
  align-items: end;
  justify-content: center;
  margin: 5px;
  height: 150px;
  width: 300px;
  background-image: linear-gradient(white, grey);
}

.project-card img {
  height: 100%;
}

.card-text-window {
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  text-decoration: underline;
}

#about {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

#contact {
    text-align: center;
    margin: 0;
}

#cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#first {
  height: 300px;
  width: 600px;
  background-image: url(../images/zoom-fall-background.jpg);
  background-size: cover;
}

#second {
  background-image: url(../images/zoom-fall-background.jpg);
  background-size: cover;
}